<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/oluet/">Oluet</a></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 ">
                        <p class="catalog-title"><a href="/juomat/viinat/">Viinat</a></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/450x450">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/viskit/">Viskit</a></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/konjakit/">Konjakit</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/punaviinit/">Punaviinit</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/valkoviinit/">Valkoviinit</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/roseeviinit/">Roseeviinit</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/kuohuviinit/">Kuohuviinit</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/likoorit/">Liköörit</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/rommit/">Rommit</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/siiderit/">Siiderit</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 lessWhiteSpace">
            <div class="juoma-category">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="catalog-img" src="http://via.placeholder.com/500x500">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="catalog-title"><a href="/juomat/lonkerot/">Lonkerot</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--
<a href="/oluet">Oluet</a>
<a href="/viinat">Viinat</a>
<a href="/viskit">Viskit</a>
<a href="/konjakit">Konjakit</a>
<a href="#">Punaviinit</a>
<a href="#">Valkoviinit</a>
<a href="#">Roseeviinit</a>
<a href="#">Kuohuviinit</a>
<a href="#">Liköörit</a>
<a href="#">Rommit</a>
<a href="#">Siiderit</a>
<a href="#">Lonkerot</a>
-->

<!--
Viinat	128 juomaa

Liköörit	134 juomaa
 → Marjaliköörit	26 juomaa
 → Hedelmäliköörit	23 juomaa
 → Kermaliköörit	18 juomaa
 → Munaliköörit	1 juoma
 → Punssiliköörit	1 juoma
 → Kahviliköörit	11 juomaa
 → Mausteliköörit	31 juomaa
 → Salmiakkiliköörit	8 juomaa
 → Yrttiliköörit	15 juomaa
Katkerot	11 juomaa
 → Grogikatkerot	4 juomaa
 → Mahakatkerot	7 juomaa
Rommit	27 juomaa
 → Vaaleat rommit	8 juomaa
 → Tummat rommit	19 juomaa
Väkevät viinit	87 juomaa
 → Väkevät viinit	10 juomaa
 → Glögit	1 juoma
 → Saket	5 juomaa
 → Portviinit	18 juomaa
 → Madeirat	7 juomaa
 → Sherryt	13 juomaa
 → Maustetut väkevät viinit	7 juomaa
 → Vermutit	7 juomaa
 → Väkevät hedelmäviinit	19 juomaa
Oluet	253 juomaa
 → Lager	43 juomaa
 → Tumma lager	10 juomaa
 → Pils	15 juomaa
 → Vahva lager	21 juomaa
 → Vehnäolut	30 juomaa
 → Ale	81 juomaa
 → Stout & portteri	24 juomaa
 → Erikoisuus	29 juomaa
Siiderit	44 juomaa
Long Drinkit	41 juomaa


-->


<% include ../partials/footer.ejs %>