<% include ../partials/header %>
<div class="text-center ">
    <div class="container">
        <h1>404</h1>
        <h2>Etsimääsi sivua ei löytynyt</h2>
        <p>Etsimäsi sivu on todennäköisesti kehityksen alla, mutta voit kokeilla yrittää uudelleen tai ottaa yhteyttä ylläpitoon: konsta@konstalehtinen.com</p>
    </div>
</div>

<% include ../partials/footer %>