<% include ../partials/header.ejs%>

<div class="container">
    <div class="row">
       <div class="col-md-6 col-md-offset-3 text-center highlight-bg">
           <h1>AlkoApp</h1>
           <h2>Info</h2>
            <p>AlkoApp on Tampereen ammattikorkeakoulusta lähtöisin oleva opiskelija projekti joka pyrkii helpottamaan alkoholin
            valintaa eri tilanteisiin</p>

            <h2>Yhteys:</h2>
            <p>Tuotetietojen muutto: tuote@alkoapp.fi</p>
            <p>Kehitysehdotukset: admin@alkoapp.fi</p>
            <p>Ylläpito: admin@alkoapp.fi</p>
       </div>
    </div>
</div>


<% include ../partials/footer %>